[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
